# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_MODEL=

# Supabase Configuration
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PROJECT_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=

# Admin Configuration
ADMIN_EMAIL=

# Cloud R2 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=